.video-container{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.video-container>iframe{
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
}
.ggmap-container{
    position: relative;
    padding-bottom: 75%;
}
.ggmap-container>iframe{
    position: absolute;
    top:0px;
    left: 0;
    width: 100%;
    height: 100%;
}
